body {
  background-color: rgb(255, 223, 223);
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 25%;
  margin-top: 10%;
}

div {
  margin-left: 2.5%;
}

a {
  color: blue; /* Default link color */
  text-decoration: none; /* Removes default underline */
  transition: color 0.3s ease; /* Smooth transition for color changes */
}

a:hover {
  color: red; /* Color when hovered */
}

